/*  COLORS  */
$background: rgb(33, 33, 33);
$grey1: rgb(42, 42, 42);
$grey2: rgb(53, 53, 53);
$grey-text-4: #828282;
$grey-text-3: #bdbdbd;
$grey-text-2: #e0e0e0;
$grey-text-1: #f2f2f2;
$pop-color: red;

/*  FONTS  */
@font-face {
    font-family: "SF Pro";
    src: url("/fonts/SF-Pro.ttf") format("ttf");
}
