/*  COLORS  */
/*  MEDIA  */
/*  FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*  MIXINS  */
.artist {
  position: relative;
  width: calc(100vw - 200px);
  left: -30px;
  top: -30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .artist {
    width: 100vw;
    left: -20px;
    top: -40px;
  }
}
.artist .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(30px);
  background: rgba(0, 0, 0, 0.3);
}
.artist img {
  border-radius: 50%;
  margin-top: 50px;
}
.artist h1 {
  color: #f2f2f2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.artist .artist__info {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.artist .artist__info--albums,
.artist .artist__info--fans {
  color: #f2f2f2;
  margin-bottom: 3px;
}
.artist .artist__info--deezer-link {
  color: #f2f2f2;
}
@media screen and (min-width: 1025px) {
  .artist .artist__info--deezer-link:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: 20px;
}

.popular-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
@media screen and (max-width: 800px) {
  .popular-section {
    flex-direction: column;
  }
}
.popular-section .popular-section__album {
  margin-bottom: 20px;
}
.popular-section .popular-section__album .album-card {
  width: 20vw;
}
@media screen and (max-width: 600px) {
  .popular-section .popular-section__album .album-card {
    width: 50vw;
  }
}
.popular-section .popular-section__album .album-card__img-ctnr {
  height: 20vw;
}
@media screen and (max-width: 600px) {
  .popular-section .popular-section__album .album-card__img-ctnr {
    height: 50vw;
  }
}
.popular-section .popular-section__tracks {
  width: 100%;
}
@media screen and (min-width: 801px) {
  .popular-section .popular-section__tracks {
    margin-left: 50px;
  }
}
.popular-section .popular-section__tracks h2 {
  padding-left: 20px;
}
@media screen and (max-width: 800px) {
  .popular-section .popular-section__tracks h2 {
    padding-left: 0;
  }
}

.list-track {
  grid-template-columns: 50px 50px 1fr 1fr 70px 50px 45px;
}
@media screen and (max-width: 800px) and (min-width: 601px) {
  .list-track {
    grid-template-columns: 50px 50px 1fr 0px 59px 37px 35px;
  }
}
@media screen and (max-width: 1024px) {
  .list-track {
    grid-template-columns: 40px 50px 1fr 0 25px 32px 35px;
  }
}
@media screen and (max-width: 1024px) {
  .list-track .list-track__number {
    justify-content: start;
  }
}
.list-track .list-track__info {
  padding: 0 10px;
}
.list-track .list-track__love-ctnr {
  grid-column: 7;
}
.list-track .list-track__duration {
  grid-column: 6;
}
.list-track .explicit-tag {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .list-track .explicit-tag {
    display: none;
  }
}
.list-track .explicit-tag-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .list-track .explicit-tag-mobile {
    display: inline-block;
  }
}

/* SWIPER */
.swiper-container {
  z-index: 0;
  padding-top: 55px;
  margin-top: -55px;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: flex;
}
.swiper-wrapper .album-card {
  width: 20vw;
}
@media screen and (max-width: 800px) {
  .swiper-wrapper .album-card {
    width: 27vw;
  }
}
@media screen and (max-width: 600px) {
  .swiper-wrapper .album-card {
    width: 35vw;
  }
}
.swiper-wrapper .album-card__img-ctnr {
  width: 100%;
  height: 20vw;
}
@media screen and (max-width: 800px) {
  .swiper-wrapper .album-card__img-ctnr {
    height: 27vw;
  }
}
@media screen and (max-width: 600px) {
  .swiper-wrapper .album-card__img-ctnr {
    height: 35vw;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.arrows {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 92px;
  display: flex;
  flex-direction: row-reverse;
}
.arrows .swiper-button-prev,
.arrows .swiper-button-next {
  height: 30px;
  width: 30px;
  color: #e0e0e0;
}
.arrows .swiper-button-prev::after,
.arrows .swiper-button-next::after {
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .arrows .swiper-button-prev,
.arrows .swiper-button-next {
    display: none;
  }
}

.artists-related {
  margin-top: 40px;
}
.artists-related h2 {
  margin-bottom: 30px;
}
.artists-related .artists-related__grid {
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  justify-content: space-around;
  transition: grid-template-columns 0.5s ease;
  transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
}
@media screen and (max-width: 1225px) {
  .artists-related .artists-related__grid {
    grid-template-columns: repeat(3, 22vw);
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}
@media screen and (max-width: 800px) {
  .artists-related .artists-related__grid {
    grid-template-columns: repeat(2, 28vw);
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}
@media screen and (max-width: 600px) {
  .artists-related .artists-related__grid {
    grid-template-columns: repeat(2, 40vw);
  }
}
.artists-related .artist-card {
  margin-bottom: 20px;
}
.artists-related .artist-card .artist-card__img-ctnr {
  height: 18vw;
}
@media screen and (max-width: 1225px) {
  .artists-related .artist-card .artist-card__img-ctnr {
    height: 22vw;
  }
}
@media screen and (max-width: 800px) {
  .artists-related .artist-card .artist-card__img-ctnr {
    height: 28vw;
  }
}
@media screen and (max-width: 600px) {
  .artists-related .artist-card .artist-card__img-ctnr {
    height: 40vw;
  }
}
.artists-related .artist-card .artist-card__info .artist-card__info--artiste {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .artists-related .artist-card .artist-card__info .artist-card__info--artiste {
    font-size: 16px;
  }
}