/*  COLORS  */
/*  MEDIA  */
/*  FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*  MIXINS  */
.explore-section {
  display: grid;
  grid-template-columns: repeat(4, 17vw);
  justify-content: space-around;
  transition: grid-template-columns 0.5s ease;
  transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
}
@media screen and (max-width: 1225px) {
  .explore-section {
    grid-template-columns: repeat(3, 20vw);
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}
@media screen and (max-width: 850px) {
  .explore-section {
    grid-template-columns: repeat(2, 27vw);
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}
@media screen and (max-width: 600px) {
  .explore-section {
    grid-template-columns: repeat(2, 35vw);
  }
}

.genre-card {
  width: 100%;
  height: 19vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
@media screen and (max-width: 850px) {
  .genre-card {
    height: 19vw;
    margin-bottom: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .genre-card {
    height: 25vw;
    font-size: 18px;
    align-items: center;
  }
}
.genre-card__cover {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 600px) {
  .genre-card__cover {
    filter: blur(10px);
  }
}
.genre-card__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 5px;
  font-size: 18px;
  color: #e0e0e0;
  background: rgba(27, 27, 27, 0.5);
  transition: all 0.8s ease;
}
@media screen and (max-width: 600px) {
  .genre-card__link {
    font-size: 16px;
    padding: 5px;
    align-items: center;
    height: 100%;
  }
}

.artist-card {
  margin-bottom: 20px;
}
.artist-card .artist-card__img-ctnr {
  height: 17vw;
}
@media screen and (max-width: 1225px) {
  .artist-card .artist-card__img-ctnr {
    height: 20vw;
  }
}
@media screen and (max-width: 850px) {
  .artist-card .artist-card__img-ctnr {
    height: 27vw;
  }
}
@media screen and (max-width: 600px) {
  .artist-card .artist-card__img-ctnr {
    height: 35vw;
  }
}
.artist-card .artist-card__info .artist-card__info--artiste {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .artist-card .artist-card__info .artist-card__info--artiste {
    font-size: 16px;
  }
}