/*  COLORS  */
/*  FONTS  */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("ttf");
}

/*  BODY  */
body {
  margin: 0;
  padding: 0;
  font-family: SF Pro;
  font-size: 12px;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body a,
body ul,
body button,
body input {
  margin: 0;
  padding: 0;
}

body a {
  list-style-type: none;
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

body button,
body input {
  border: none;
  outline: none;
  background: none;
}

body h1,
body h2,
body h3 {
  color: #e0e0e0;
  font-weight: 700;
}

body h1 {
  font-size: 32px;
}

body h2 {
  font-size: 24px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding-top: 20px;
  background: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .logo {
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto 30px;
}

aside nav {
  margin: 30px 0;
}

aside .menu {
  width: 90%;
  margin: 0 auto;
}

aside .menu li {
  margin: 10px 0;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

aside .menu li:hover {
  background: #353535;
}

aside .menu .nav-link {
  font-size: 14px;
  color: #828282;
}

aside .menu .link-active {
  color: #e0e0e0;
}

aside .menu .fa {
  margin-right: 10px;
  font-size: 14px;
  color: #e6434f;
}

.search-container {
  background: #e0e0e0;
  border-radius: 5px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  background: #353535;
}

.search-container input[type="search"] {
  width: 100%;
  padding: 5px 20px;
  font-size: 14px;
  padding: 5px 15px 5px 20px;
  color: #e0e0e0;
}

.search-container button {
  position: absolute;
  right: 5px;
  top: 2px;
  margin: auto 5px;
  padding: 0 2px;
  font-size: 15px;
  cursor: pointer;
  background: #353535;
  z-index: 1;
  height: 20px;
}

.search-container button i {
  color: #e0e0e0;
}

.container-main {
  margin-left: 200px;
  width: calc(100vw - 200px);
}

/*  HEADER  */
header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10%;
  height: 55px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #272727;
  position: fixed;
  top: 0;
  width: calc(100vw - 200px);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgba(33, 33, 33, 0.5);
}

header .controls-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  min-width: 130px;
  margin-right: 10%;
}

header .controls-container .control {
  color: #828282;
  cursor: pointer;
}

header .controls-container .control:hover {
  color: #bdbdbd;
}

header .controls-container .before,
header .controls-container .next {
  font-size: 20px;
}

header .controls-container .play i {
  font-size: 28px;
  position: relative;
  top: -1px;
}

header .audio-info-container {
  height: 50px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
}

header .audio-info-container div {
  height: 100%;
}

header .audio-info-container .cover-container {
  background: center no-repeat url("../../assets/images/music-note.svg"), rgba(255, 255, 255, 0.4);
  background-size: 60%;
  width: 50px;
  overflow: hidden;
}

header .audio-info-container .cover-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header .audio-info-container .info-container {
  background: rgba(255, 255, 255, 0.2);
  width: calc(100% - 50px);
  text-align: center;
  padding: 4px 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

header .audio-info-container .info-container:hover .duration,
header .audio-info-container .info-container:hover label {
  opacity: 1;
}

header .audio-info-container .info-container p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .audio-info-container .info-container__title {
  color: #f2f2f2;
  font-size: 14px;
}

header .audio-info-container .info-container__artist {
  padding-top: 2px;
  color: #bdbdbd;
}

header .audio-info-container label {
  opacity: 0;
  position: absolute;
  left: 3px;
  bottom: 6px;
  font-size: 10px;
  color: #bdbdbd;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

header .audio-info-container .duration {
  opacity: 0;
  position: absolute;
  right: 3px;
  bottom: 6px;
  font-size: 10px;
  color: #bdbdbd;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

header .audio-info-container input[type="range"] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

header .audio-info-container input[type="range"]:before {
  position: absolute;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 2px;
  background: #828282;
}

header .audio-info-container input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 12px;
}

header .audio-info-container input[type="range"]::-webkit-slider-thumb {
  width: 5px;
  height: 10px;
  border-radius: 2.5px;
  border: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  margin-top: 6px;
  z-index: 99;
  position: relative;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

main {
  padding: 80px 80px;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 80px 50px;
  }
}

.track-card {
  overflow: hidden;
}

.track-card .track-card__img-cntr {
  position: relative;
  overflow: hidden;
}

.track-card .track-card__img-cntr:hover a,
.track-card .track-card__img-cntr:hover .track-card__play,
.track-card .track-card__img-cntr:hover .track-card__love {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.track-card .track-card__img-cntr a {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.track-card .track-card__img-cntr .track-card__play,
.track-card .track-card__img-cntr .track-card__love {
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(130, 130, 130, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.track-card .track-card__img-cntr .track-card__play:hover,
.track-card .track-card__img-cntr .track-card__love:hover {
  background: #e6434f;
}

.track-card .track-card__img-cntr .track-card__play {
  left: 10px;
}

.track-card .track-card__img-cntr .track-card__play i {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 4px);
  font-size: 14px;
  color: #e0e0e0;
}

.track-card .track-card__img-cntr input[type="checkbox"] {
  width: 0;
  height: 0;
}

.track-card .track-card__img-cntr input[type="checkbox"]:checked + .track-card__love svg path {
  fill: #f2f2f2;
}

.track-card .track-card__img-cntr .track-card__love {
  right: 10px;
}

.track-card .track-card__img-cntr .track-card__love svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
}

.track-card .track-card__img-cntr .track-card__love svg path {
  stroke: #f2f2f2;
  stroke-width: 1.5px;
  fill: none;
}

.track-card .track-card__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
