/*  COLORS  */
/*  MEDIA  */
/*  FONTS  */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("ttf");
}

/*  MIXINS  */
section {
  margin-bottom: 50px !important;
}

@media screen and (max-width: 1024px) {
  section {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin-bottom: 30px !important;
  }
}

.albums-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* SWIPER */
.swiper-container {
  z-index: 0;
  padding-top: 55px;
  margin-top: -55px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrows {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.arrows .swiper-button-prev,
.arrows .swiper-button-next {
  height: 30px;
  width: 30px;
  color: #e0e0e0;
}

.arrows .swiper-button-prev::after,
.arrows .swiper-button-next::after {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .arrows .swiper-button-prev,
  .arrows .swiper-button-next {
    display: none;
  }
}
