/*  COLORS  */
/*  MEDIA  */
/*  FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*  MIXINS  */
main {
  padding-top: 70px;
}

.content {
  position: relative;
}

#loader {
  position: absolute;
  height: 80vh;
  display: none;
}

fieldset {
  border: none;
  padding: 15px 0 10px;
}
fieldset .input-research {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 711px) {
  fieldset .input-research {
    max-width: 500px;
  }
}
fieldset .input-research input[type=search] {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 8px 20px;
  color: #e0e0e0;
}
fieldset .input-research input[type=search]:focus + button i {
  color: #e0e0e0;
}
fieldset .input-research input[type=search]::-webkit-search-cancel-button {
  display: none;
}
fieldset .input-research button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}
fieldset .input-research button i {
  color: #828282;
  font-size: 20px;
}
fieldset .filters {
  text-align: center;
  padding: 10px 0;
}
@media screen and (max-width: 800px) and (min-width: 601px) {
  fieldset .filters {
    display: flex;
    overflow: auto;
    width: calc(100vw - 64px - 200px);
  }
}
@media screen and (max-width: 600px) {
  fieldset .filters {
    display: flex;
    overflow: auto;
    width: calc(100vw - 40px);
  }
}
fieldset .filters input[type=radio] {
  display: none;
}
fieldset .filters input[type=radio]:checked + label {
  background: #f2f2f2;
}
fieldset .filters label {
  cursor: pointer;
  font-weight: 500;
  padding: 5px 10px;
  margin-bottom: 7px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  white-space: nowrap;
}
fieldset .filters label:not(:last-child) {
  margin-right: 10px;
}

.research section {
  margin: 20px 0;
}

.popular-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .popular-container {
    display: block;
  }
}
.popular-container .track-card__play {
  z-index: 3;
}
@media screen and (max-width: 800px) {
  .popular-container .popular-card:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.artist-container,
.album-container,
.track-container,
.research-section {
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  justify-content: space-between;
}
@media screen and (max-width: 1225px) {
  .artist-container,
.album-container,
.track-container,
.research-section {
    grid-template-columns: repeat(3, 22vw);
  }
}
@media screen and (max-width: 850px) {
  .artist-container,
.album-container,
.track-container,
.research-section {
    grid-template-columns: repeat(2, 28vw);
  }
}
@media screen and (max-width: 600px) {
  .artist-container,
.album-container,
.track-container,
.research-section {
    grid-template-columns: repeat(2, 40vw);
  }
}

.artist-container .artist-card {
  margin-bottom: 20px;
}
.artist-container .artist-card__img-ctnr {
  height: 18vw;
}
@media screen and (max-width: 1225px) {
  .artist-container .artist-card__img-ctnr {
    height: 22vw;
  }
}
@media screen and (max-width: 850px) {
  .artist-container .artist-card__img-ctnr {
    height: 28vw;
  }
}
@media screen and (max-width: 600px) {
  .artist-container .artist-card__img-ctnr {
    height: 40vw;
  }
}
.artist-container .artist-card__info .artist-card__info--artiste {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  .artist-container .artist-card__info .artist-card__info--artiste {
    font-size: 16px;
  }
}

.album-card,
.track-card {
  margin-bottom: 10px;
}

.track-card__img-cntr,
.album-card__img-ctnr,
.artist-card__img-ctnr {
  height: 18vw;
}
@media screen and (max-width: 1225px) {
  .track-card__img-cntr,
.album-card__img-ctnr,
.artist-card__img-ctnr {
    height: 22vw;
  }
}
@media screen and (max-width: 850px) {
  .track-card__img-cntr,
.album-card__img-ctnr,
.artist-card__img-ctnr {
    height: 28vw;
  }
}
@media screen and (max-width: 600px) {
  .track-card__img-cntr,
.album-card__img-ctnr,
.artist-card__img-ctnr {
    height: 40vw;
  }
}