/*  COLORS  */
/*  MEDIA  */
/*  FONTS  */
@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("ttf");
}

/*  MIXINS  */
main {
  padding-top: 158px;
}

fieldset {
  position: fixed;
  top: 55px;
  left: 200px;
  right: 0;
  border: none;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 15px 10px 10px;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  fieldset {
    top: 0;
    left: 0;
  }
}

fieldset .input-research {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

fieldset .input-research input[type="search"] {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 8px 20px;
  color: #e0e0e0;
}

fieldset .input-research input[type="search"]:focus + button i {
  color: #e0e0e0;
}

fieldset .input-research input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

fieldset .input-research button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

fieldset .input-research button i {
  color: #828282;
  font-size: 20px;
}

fieldset .filters {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 710px) {
  fieldset .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: auto;
    -ms-touch-action: pan-x;
        touch-action: pan-x;
  }
}

fieldset .filters input[type="radio"] {
  display: none;
}

fieldset .filters input[type="radio"]:checked + label {
  background: #f2f2f2;
}

fieldset .filters label {
  font-weight: 500;
  padding: 5px 10px;
  margin-bottom: 7px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

fieldset .filters label:not(:last-child) {
  margin-right: 10px;
}

.research section {
  margin: 20px 0;
}

.popular-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .popular-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (33%)[3];
        grid-template-rows: repeat(3, 33%);
    grid-gap: 5px;
  }
}

.popular-container .track-card__play {
  z-index: 3;
}

.artist-container,
.album-container,
.track-container,
.research-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (17vw)[4];
      grid-template-columns: repeat(4, 17vw);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: grid-template-columns 0.5s ease;
  transition: grid-template-columns 0.5s ease;
  transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
}

@media screen and (max-width: 1225px) {
  .artist-container,
  .album-container,
  .track-container,
  .research-section {
    -ms-grid-columns: (20vw)[3];
        grid-template-columns: repeat(3, 20vw);
    -webkit-transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}

@media screen and (max-width: 850px) {
  .artist-container,
  .album-container,
  .track-container,
  .research-section {
    -ms-grid-columns: (27vw)[2];
        grid-template-columns: repeat(2, 27vw);
    -webkit-transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease;
    transition: grid-template-columns 0.5s ease, -ms-grid-columns 0.5s ease;
  }
}

@media screen and (max-width: 600px) {
  .artist-container,
  .album-container,
  .track-container,
  .research-section {
    -ms-grid-columns: (35vw)[2];
        grid-template-columns: repeat(2, 35vw);
  }
}

.artist-container .artist-card {
  margin-bottom: 20px;
}

.artist-container .artist-card__img-ctnr {
  height: 17vw;
}

@media screen and (max-width: 1225px) {
  .artist-container .artist-card__img-ctnr {
    height: 20vw;
  }
}

@media screen and (max-width: 850px) {
  .artist-container .artist-card__img-ctnr {
    height: 27vw;
  }
}

@media screen and (max-width: 600px) {
  .artist-container .artist-card__img-ctnr {
    height: 35vw;
  }
}

.artist-container .artist-card__info .artist-card__info--artiste {
  font-size: 20px;
}

@media screen and (max-width: 850px) {
  .artist-container .artist-card__info .artist-card__info--artiste {
    font-size: 16px;
  }
}

.album-card,
.track-card {
  margin-bottom: 10px;
}

.track-card__img-cntr,
.album-card__img-ctnr {
  height: 17vw;
}

@media screen and (max-width: 1225px) {
  .track-card__img-cntr,
  .album-card__img-ctnr {
    height: 20vw;
  }
}

@media screen and (max-width: 850px) {
  .track-card__img-cntr,
  .album-card__img-ctnr {
    height: 27vw;
  }
}

@media screen and (max-width: 600px) {
  .track-card__img-cntr,
  .album-card__img-ctnr {
    height: 35vw;
  }
}
